/target
/.idea
/StaffRoster.txt
/temp.txtthemp.txt/
/src/main/java/sudokuSolverProject/CreateFolder.java
/src/main/java/sudokuSolverProject/Test.java
/src/main/java/sudokuSolverProject/TestBeforeFinalSub.java.java
/src/main/java/sudokuSolverProject/Playground.java.java
/sudokuCNFs/
/puz1CNFInputs.txt
/puz2CNFInputs.txt
/puz3CNFInputs.txt
/puz4CNFInputs.txt
/unsolvableCNFInputs.txt
